html,
body {
    box-sizing: border-box;
    font-family: Helvetica;
    margin: 0;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#navbar {
    width: 25%;
    height: 100vh;
    position: fixed;
    background: #d5dcdd;
}

header h2 {
    text-align: center;
    margin: 5px;
}

ul {
    display: inline-block;
}

#navbar li {
    list-style: none;
    padding: 12px 0px 12px 0;

}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

#main-doc {
    width: 100%;
    background: rgba(139, 55, 55, 0.144);
    padding: 9px;
    text-align: justify;
    line-height: 1.3rem;
    margin-left: 25%;
}

section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}

code {
    display: block;
    text-align: left;
    position: relative;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

#reference {
    background-color: thistle;
    padding: 8px;
}

@media(max-width:1024px) {
    #navbar {
        width: 25%;
        height: 100vh;
        position: fixed;
        background: #d5dcdd;
    }

    header h2 {
        text-align: center;
        margin: 4px;
        font-size: 1.3rem;
    }

    ul {
        display: inline-block;
    }

    #navbar li {
        list-style: none;
        padding: 10px 0px 10px 0;

    }

    a {
        text-decoration: none;
        font-size: 1rem;
    }

}

@media(max-width:768px) {
    #navbar {
        width: 25%;
        height: 100vh;
        position: fixed;
        background: #d5dcdd;
    }

    header h2 {
        text-align: center;
        margin: 4px;
        font-size: 1rem;
    }

    #navbar li {
        list-style: none;
        padding: 10px 0px 10px 0;

    }

    a {
        text-decoration: none;
        font-size: 0.8rem;
    }



}

@media(max-width:426px) {

    #navbar {
        position: fixed;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 235px;
        text-align: center;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
        overflow: scroll;
    }

    #main-doc {
        position: relative;
        margin:5px;
        margin-top: 240px;
        background: rgba(139, 55, 55, 0.144);

    }
    header h2 {
        text-align: center;
        margin: 4px;
        font-size: 1rem;
    }

    ul {
        display: inline-block;
        padding: 0;
    }

    #navbar li {
        list-style: none;
        padding: 8px 0px 6px 0;

    }

    a {
        text-decoration: none;
        font-size: 0.9rem;
    }

    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }

}
@media(max-width:321px) {

    #navbar {
        position: fixed;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 255px;
        text-align: center;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
        overflow: scroll;
    }

    #main-doc {
        position: relative;
        margin:5px;
        margin-top: 240px;
        background: rgba(139, 55, 55, 0.144);

    }
    header h2 {
        text-align: center;
        margin: 4px;
        padding-top: 10px;
        font-size: 1rem;
    }

    ul {
        display: inline-block;
        padding: 0;
    }

    #navbar li {
        list-style: none;
        padding: 8px 0px 6px 0;

    }

    a {
        text-decoration: none;
        font-size: 0.9rem;
    }

    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }

}